@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Montserrat';
    color: white;
}
html,body {
    min-height: 100vh;
}
body {
    background: radial-gradient(at top left, rgb(85, 85, 85) 0%, rgb(182, 182, 182) 100%);
    background-repeat:unset;
}
p {
    margin: 10px auto;
    line-height:1.5em;
}
.layout {
    max-width: 100%;
    margin: 0 auto;
}
nav {        
    font-size: large;
    display: inline-block;
    list-style-type: none;
    text-align: left;
    margin: 10px;
    
}
nav .links {   
    display: inline-block;
    border-radius: 10px;
}
nav a {    
    padding-right: 5fr;
    text-align: left;
    display: inline-block;
    margin-left: 10px;
    margin-right: 30px;
    font-weight: 600;
    padding-bottom: 0px;
    border-bottom: 3px solid transparent;
    transition: 200ms;    
}
nav a:hover {
    border-color: tomato;
}
nav a.active {
    border-color: tomato;
}

footer {
    width: 100%;
    text-align: center;
    color: rgb(182, 182, 182);
    margin: 40px auto;
    position: sticky;
    background-color: transparent;
}
nav .sidebar {
    position: absolute;
    font-size: auto;
    display: grid;
    text-align: left;
    margin-right: 0;
    max-width: 2fr;
}
nav .header {
    font-size: 3em;
    margin-top: 0;
}
nav.adBanner {
    position: absolute;
    font-size: auto;
    display: grid;
    text-align: left;
    margin-right: 0;
    max-width: 2fr;
}
.drpdwn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
    width: 100%;
    overflow: hidden;
    color: tomato;
    font-weight: 500;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 300ms;
}
.ul {
    list-style-type: none;
    background: grey;
    border: 3px solid;
    border-radius: 10px;
    border-color: tomato;
    
}
.li {
    margin-top: 1rem;
}

