.header {
    padding-left: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
}
.keskus h1 {
    font-size: 5em;
    margin-top: 80px;
}
.header h2 {
    font-size: 4em;
}
.header h3 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 20px;
}
.btn {
    display: flex;
    flex-direction: column;
    background: transparent;
    color: tomato;
    justify-content: space-around;
    font-weight: 500;
}
