.keskus {
    margin-left: 6vw; 
}
.keskus > h1 {
    text-align: left;
    font-size: 7vw;
    font-weight: 900;
    margin-top: 25%;
}
@media (max-width:700) {
    .keskus h1 {
        margin-top: 2vw;
        margin-inline: 1vw;
        font-size: 9vw;
        text-align: center;
    }
}
.keskus > h2 {
    margin-top: 2vh;
    font-size: 6vw;
    font-weight: 900;
}
.keskus > h3 {
    size: auto;
    font-size: auto;
    margin: 1em;
}
.keskus > p {
    size: auto;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 1em;
}
.yritykset {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 33% 33% 33%; 
    margin-bottom: 2vw;
}
.yritykset h3 {
    text-align: center;
    margin: 20px auto 0px;
    font-weight: 500;
    color: whitesmoke;   
}
.yritykset p {
    text-align: center;
    color: whitesmoke;
    margin-top: 4px;
}
.featured {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: 5% 20% 20% 20% 20%;
    column-gap: 3vw;
    align-items: center;
}
@media (max-width: 700px) {
    .featured {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 5vw;
    margin-left: auto;
    margin-right: auto;
    }
}
.featured h3 {
    font-size: auto;
    padding-left: 5%;
    text-align: left;
    margin: 20px auto 0px;
    font-weight: 500;
    color: whitesmoke;   
}
.featured p {
    padding-left: 5%;
    text-align: left;
    color: whitesmoke;
    margin-top: 4px;
}
.featuredTitle h3 {
    writing-mode: vertical-lr;
    transform-origin: center;
    transform: rotate(-180deg);
    color: black;
    font-size: 6em;
    font-weight: 999;
}
@media (max-width: 1200px) {
    .featuredTitle {
        font-size: 0.6em;
    }
}

@media (max-width: 700px) {
    .featuredTitle h3 {
    writing-mode: horizontal-tb;
    transform-origin: center;
    transform: rotate(90deg);       
    font-size: 7em;
    transform: none;
    margin-top: auto;
    text-align: center;
    }
}
.yrityslinkkiFeat {
    display: grid;
    margin-right: 2vw;
    margin-bottom: 2vw;
    height: 100%;
    grid-template-columns: auto; 
    background: rgba(1, 1, 1, 0.9);
    box-shadow: 0 5px 5px  0 rgb(87, 87, 87);
    padding-bottom: 10px;
}
.yrityslinkki {
    display: grid;
    margin-right: 2vw;
    margin-bottom: 2vw;
    grid-template-columns: auto; 
    background: rgba(1, 1, 1, 0.9);
    box-shadow: 0 5px 5px  0 rgb(87, 87, 87);
    padding-bottom: 10px;
}
.yrityslinkki h3 {
    font-size: auto;
    padding-left: 5%;
    text-align: left;
    margin: 20px auto 0px;
    font-weight: 500;
    color: whitesmoke;  
}
.yrityslinkki p {
    padding-left: 5%;
    text-align: left;
    color: whitesmoke;
    margin-top: 4px;
}
@media (max-width: 1300px ) {
    .yrityslinkki {
        display: grid;
        height: 100%;
        padding-bottom: 2vw;
        grid-template-columns: auto; 
        background: rgba(1, 1, 1, 0.9);
        box-shadow: 0 5px 5px  0 rgb(87, 87, 87);
    }
    .yrityslinkki p {
        font-size: 1em;
        font-weight: 200;
    }
    .yrityslinkki h3 {
        font-size: 2em;
        font-weight: bold;
    }
}
@media (max-width: 700px ) {
    .yrityslinkki {
        display: grid;
        height: 100%;
        grid-template-columns: auto;
        background: rgba(1, 1, 1, 0.9);
        box-shadow: 0 5px 5px  0 rgb(87, 87, 87);
        word-break: break-word;
    }
    .yrityslinkki p {
        font-size: 1em;
        font-weight: 200;
        word-break: break-word;
    }
    .yrityslinkki h3 {
        font-size: 2em;
        font-weight: bold;
    }
}
.btnFrontPage {
    font-family:inherit;
    font-size: 2vw;
    font-weight: 600;
    background: transparent;
    color: tomato;
    border: solid 4px tomato;
    padding: 0.5vw;
    margin-bottom: 1vw;
}
.btnFrontPage:hover {
    background: tomato;
    color: #fff;  
}
@media (max-width: 700px ) {
    .btnFrontPage {
        font-size: 3vw;
        border: solid 2px tomato;
    }
}
.thumbnail {
    width: 100%;
}
.imageFrontPage {
    max-width: 35%;
    max-height: 90%;
    object-fit: cover;
    object-position: bottom right;
}
@media (max-width: 700px) {
    .imageFrontPage {
        min-width: 100%;
        max-height: 100px;
    }
}
.resortPage {
    text-align: center;
}
.resortPage > h1 {
    font-size: 5em;
    font-weight: 900;
}