.keskus {    
    size: auto;
    text-align: center;
    padding-left: 210px;
    padding-right: 100px;
}
.keskus > h1 {
    size: auto;
    font-size: auto;
    margin-top: 80px;
}
.keskus > h2 {
    size: auto;
    font-size: auto;
    margin-top: 80px;
}
.keskus > h3 {
    size: auto;
    font-size: auto;
    font-weight: 400;
}
.yritykset {
    padding-left: 210px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: auto;
   
    margin: 80px 20px;
}
.yritykset h3 {
    text-align: center;
    margin: 20px auto 0px;
    font-weight: 500;
}
.yritykset p {
    text-align: center;
    color: whitesmoke;
    margin-top: 4px;
}
